body {
	background: #9B2335;
}
.navbar{
	margin-bottom: 0;
}

.jumbotron {
    background: url(http://i.imgur.com/TVGe0Ef.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50;
    height: 20%;
    text-align: center;
    color: white;
}
.jumbotron div {
    margin-top: 15%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgba(10, 130, 4, .6);
}
.lead {
    margin-top: 10px;
	margin-bottom: 4px;
}
.thumbnail img {
	width: 100%;
}
.thumbnail {
	padding: 0;
}

.delete-form {
	display: inline;
}